{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary mb-3 w-100 save-button">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}