{% extends 'base.html.twig' %}

{% block title %}{{ 'Обновление курса ' ~ course.name ~ ' / StudyOn' }}{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Обновление</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-secondary mb-3 w-100" href="{{ path('app_course_show', {'id' : course.id}) }}">К курсу</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}