{% extends 'base.html.twig' %}

{% block title %}{{ 'Новый курс / StudyOn' }}{% endblock %}

{% block body %}
    <h3>Новый курс</h3>

    {{ include('course/_form.html.twig') }}

    <a class="btn btn-success mb-3 w-100" href="{{ path('app_course_index') }}">К списку курсов</a>
{% endblock %}
