{% extends 'base.html.twig' %}

{% block title %}Профиль / StudyOn{% endblock %}

{% block body %}
    <h2 class="text-center m-3">Профиль</h2>

    <table class="table table-bordered table-striped table-hover mt-3">
        <thead>
        <tr>
            <th class="text-center">Email</th>
            <th class="text-center">Роль</th>
            <th class="text-center">Текущий баланс</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center email">
                {{ email }}
            </td>
            <td class="text-center role">
                {{ role }}
            </td>
            <td class="text-center balance">
                {{ balance }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_profile_history') }}" class="btn btn-primary">История транзакций</a>
    </div>
{% endblock %}