{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <div class="container">
        <h1>Создайте новый урок прямо сейчас!</h1>

        {{ include('lesson/_form.html.twig') }}

        <a class="btn btn-primary mb-3 w-100" href="{{ path('app_course_show', { 'id' : course.id }) }}">Обратно к курсу</a>
    </div>

{% endblock %}
