{% extends 'base.html.twig' %}

{% block title %} Ой! Страница не найдена.{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">{{ status_code }}</h1>
            <p class="fs-3"> <span class="text-danger">Ой!</span> Страница не найдена.</p>
            <p class="lead">
                Страница, которую вы ищете, не существует.
            </p>
            <a href="{{ path('app_course_index') }}" class="btn btn-primary">К курсам</a>
        </div>
    </div>
{% endblock %}